<img src="https://tinyurl.com/k2t79s6t" style="float: left; margin: 20px; height: 55px">
 
# Basic Python Fundamentals

_Authors: Christopher Chan, Martin Arroyo_

### Objective

Upon completing this lesson, you should be able to understand the following:
1. Variable Creation and Naming Conventions
2. Expressions & Operators: Arithmetic, Assignment, Relational, and Logical
3. Objects and Types
4. Index and Slicing
5. Strings
6. Lists, Tuples, Dictionaries and Mutability

This will help you understand some basic fundamentals of Python and prepare you for the upcoming lessons.

## Run the cell below to set up necessary functions for this notebook

In [2]:
from IPython.display import HTML

##### ==================================================================================================
## 0. Hello, world!

Welcome to **Basic Python Fundamentals**! To get started, we will first take you through a rite of passage that every beginner programmer goes through - writing their first program!

In the cell below this one, write the following line of code and replace `{your-name}` with your own name and then run it:
>```python
print("Hello, {your-name}!")
>```
<br/>

*Example:*
```python
print("Hello, Martin!")
```

In [ ]:
# WRITE YOUR CODE BELOW THIS LINE

Congratulations! You just wrote your first program! 

Let's break down what you did with just that single line of code:
- You created a `string` object (`"Hello, {your-name}!"`) to represent a value
- You passed the object you created into a function called `print`
- You executed the line of code, which used the `print` function to display the `string` object you defined on the screen

Some of what was mentioned above likely still sounds foreign to you - and that's OK. We will be explaining more as the course goes along.  

Here are some key takeaways from this exercise:
- We create objects that we pass into other objects in order to get an output (which is also an object)
- The `print` function displays the contents of an object that we pass into it on the screen
- We will be using the `print` function a lot in this course (and in general) so it's worth remembering how to use it

Now that you're officially a programmer, it's time to dive deeper into Python by learning about variables!

##### ==================================================================================================
## 1. Variable Creation and Naming Conventions

Variables are names that have been assigned to specific *objects (we will give a more concrete definition of "objects" a little later on*.) You can think of these names as placeholders for the values that you assign to them. For example, we'll take our `Hello, world!` program we just wrote and modify it to use a variable:

>```python
my_greeting = "Hello, Martin!"
>
>print(my_greeting)
>```
>`Output`: Hello, Martin!


As you can see, instead of putting our greeting (`"Hello, Martin!"`) inside of the `print` function like before, we assigned the value to a variable we called `my_greeting`. This variable name isn't anything special - we just made it up. While there are naming conventions to follow, it's up to you to come up with names for your variables.

You can think about variables like [cell references in Excel](https://www.ablebits.com/office-addins-blog/excel-cell-reference/#:~:text=What%20is%20a%20cell%20reference,column%20B%2C%20and%20so%20on.), except they are references that allow you to choose the name (e.g. instead of referencing cell `A1` we are assigning a value of `"Hello, Martin!"` to a defined reference we call `my_greeting`)

**Watch the video below to learn more about variables in Python and how to use them, then continue on:**

(If you don't see the video, just run the cell below)

In [3]:
HTML("""
<div align="center">
    <iframe width="560" height="315"
    src="https://www.youtube.com/embed/cQT33yu9pY8">
    </iframe>
</div> 
""")

---

### **Now it's your turn!**

**Instructions:**

Create a variable called `num_coopers` to represent the number of COOPers in class. Assume the number is 16. Then `print` the value out to the screen.

Example:
```python
my_variable = 15
print(my_variable)
```

In [ ]:
# Create your `num_coopers` variable here and print it out

Create a variable `num_capt` to represent the number of captains in class. Assume the number is 4.

In [ ]:
# Create your `num_capt` variable here and print it out

---

### Restrictions on Variable Names

- Cannot start with numbers (i.e., `5`, `5_head`).
- Cannot match names of Python keywords (i.e., '`for`', '`and`', '`elif`').
- Cannot contain spaces or periods.

#### âœ‹ðŸ¼ Callout !!

Python is case-sensitive. This means that variables like these: `coop_careers` and `COOP_careers` are not the same!

### Best Practices for Variable Names
- Should be *unambiguous* and *descriptive*
- Short and clear variable names are best
- Lowercase variables with underscores between words (i.e., '`coop_student`', '`coop_captain`')

##### ==================================================================================================
## 2. Expressions & Operators: Arithmetic, Assignment, Relational, and Logical

So far, we have done simple variable assignments where we take a single value and assign it to some variable. But that doesn't reflect the reality of most programs that we will want to write. We will want to perform more advanced operations on different types of data. This is often accomplished by using *Expressions* along with *Operators*.

>Example: Add 5 + 5 and save the result to a variable called `my_sum`
>```python
my_sum = 5 + 5
>
> print(my_sum)
>```
> `Output`: 10

Let's break down what's happening here:
- We are using an `Expression` - `5 + 5` - to create a new value (10 - which is the result of the expression)
- The `+` sign in this case is an `Arithmetic Operator` in Python. Here we are using it to perform addition
- Python is evaluating the expression and storing the result to a variable we called `my_sum`
- To store the result in `my_sum` we use an assignment operator - the single equal sign (`=`)

As you can see, we were able to use Python like a calculator to compute the value of an expression and then store its result in a variable that we can reference later. This is a simple example, but you will use similar patterns to create more complex programs down the line.

**Watch the following video to get a more in-depth introduction to operators and then continue on:**

(If you don't see the video, just run the cell below)

In [4]:
HTML("""
<div align="center">
    <iframe width="560" height="315"
    src="https://www.youtube.com/embed/v5MR5JnKcZI">
    </iframe>
</div> 
""")

### Arithmetic Operators

Here are the common arithmetic operators that you will use:

- Addition (`+`)
- Subtraction (`-`)
- Multiplication (`*`)
- Division (`/`)
- Floor division: divides then round down to the nearest integer (`//`)
- Exponents (`**`)
- [Modulo: remainder division](https://www.youtube.com/watch?v=E-7jqDp2an0) (`%`)

Run the cell below to see examples of each of these operators:

In [ ]:
print("4 + 2 =", 4 + 2)  #addition
print("4 - 2 =", 4 - 2)  #subtraction
print("4 * 2 =", 4 * 2)  #multiplication
print("4 / 4 =", 4 / 4)  #division
print("4 // 4 =", 4 // 4) #floor division / integer division (divides then round down to the nearest integer)
print("4 ** 2 =", 4 ** 2) #exponent
print("4 % 2 =", 4 % 2)  #modulo

### The Concatenation Operator (`+`)

In Python, the `+` operator is generally known as a concatenation operator, which means that it combines the expression or element on the left side of the `+` with the element or expression on the right. We saw it work how we would expect with numbers, but it also works on other data types as well, such as `strings`.

>Example:
>```python
>my_name = "Martin"
>salutation = "Hello, my name is "
>
>greeting = salutation + my_name
>
>print(greeting)
>```
>`Output`: Hello, my name is Martin

So as you can see, the `+` operator is quite flexible.

### Assignment Operators

Python uses a single equal sign (`=`) to assign values to a variable. We can combine the arithmetic operators with the assignment operator as a shortcut when we perform an operation and update a variable.

Let's look at updating the value of a variable that we already have. We'll call it `my_sum` and set the initial value to 2:
```python
my_sum = 2
```
Now let's update the variable by adding 2 to it using standard assignment:
```python
my_sum = my_sum + 2
print(my_sum)
```
`Output`: 4

Now we'll do the same thing, but using combined assignment operators:
```python
my_sum += 2
print(my_sum)
```
`Output`: 4

**Ok, they do the same thing... so what?**

Both methods are correct, so why would we use one over the other? This is really a question of style and convention, so there is no right answer. Style and convention is out of the scope of this lesson, but there are some common conventions that you should be aware of. Since most of the time we will be reading code rather than writing it, you should know what is happening when you see other people's code using these conventions. Long story short - we include both methods here so that you are aware of these conventions and how they work. 


Run the cell below to see an example of how you can use the various assignment operators:

In [ ]:
my_num = 10 # Standard assignment
print("my_num is", my_num)
my_num -= 1 # Subtracts 1 from `my_num` and assigns the result back to `my_num`
print("my_num -= 1 is", my_num) 
my_num += 1 # Adds 1 to `my_num` and assigns the result back to `my_num`
print("my_num += 1 is", my_num)
my_num *= 1 # Multiplies the original value in `my_num` by 1 and assigns the result back to `my_num`
print("my_num *= 1 is", my_num)
my_num /= 1 # Divides the original value in `my_num` by 1 and assigns the result back to `my_num`
print("my_num /= 1 is", my_num)

### **Now it's your turn!**

**Instructions:**

Create a variable called `my_new_num` and assign it an initial value of 3. Then do the following:
1. Update `my_new_num` by adding 2 to the initial value
2. Now subtract 1 from `my_new_num` and update it
3. Multiply `my_new_num` by 2 and update the value
4. Divide `my_new_num` by 1 and update the value
5. `print` the new value of `my_new_num`

Did you get `8.0` as your answer? If so, great! If not, double-check your steps and try again!

In [18]:
# Create the variable

# 1. Add 2 to my_new_num and update

# 2. Subtract 1 from my_new_num and update

# 3. Multiply my_new_num by 2 and update

# 4. Divide my_new_num by 1 and update the value

# 5. Print my_new_num

### Relational/Comparison Operators

We have seen relational/comparison operators already in both Excel and SQL. They do the same thing in Python: compare an expression on the left of the operator to an expression on the right of the operator (e.g. `2 > 1`). The result of Relational and Logical Operators will always be a `Boolean` value, which simply means that the results will always be either `True` or `False`.

Here are the comparison operators:

- Strictly Greater than: `>`
- Greater than or equal to: `>=`

- Strictly Less than: `<`
- Less than or equal to: `<=`

- Equal: `==`
- Does not equal: `!=`

### Logical Operators

Along with the comparison operators, Python includes the standard logical operators `and`, `or`, and `not`. As a review, here is what each one does:

- `and`: Are both X and Y statements true?
- `or`: Is at least one of the two statements X and Y true?
- `not`: Negates the statement that follows (e.g. `not True == False` because the `not` operator negated the `True` operator)

### **Now it's your turn!**

**Instructions:**

We're going to do an exercise and introduce another useful keyword called `assert`, which we can use to help us debug our code. It allows us to make assertions of our code, and if we are wrong it will throw an error.

For the challenge below, you will complete each `assert` statement with the correct result. For example:

You will see:
```python
assert (10 > 6) == #Replace with your answer
```

This is saying "I assert that 10 is greater than 6." Since we know that this is true, we will put `True` after the `==` sign:
```python
assert (10 > 6) == True
```

When you run the cell, you will either get a message telling you `You are correct!` if your answer is right. Otherwise, you will get an `AssertionError`, which means that the answer is incorrect.

Go through each example and fill in whether the statement is `True` or `False`:

In [ ]:
assert (10 > 5) == #Replace with your answer
print("You are correct!")

In [ ]:
assert (1 == 2) == #Replace with your answer
print("You are correct!")

In [ ]:
assert (10 < 5) == #Replace with your answer
print("You are correct!")

In [ ]:
assert (10 > 5 and 4 > 1) == #Replace with your answer
print("You are correct!")

In [ ]:
assert (10 > 5 and 4 < 1) == #Replace with your answer
print("You are correct!")

In [ ]:
assert (10 < 5 or 5 > 10) == #Replace with your answer
print("You are correct!")

In [ ]:
assert (not 10 < 5) == #Replace with your answer
print("You are correct!")

##### ==================================================================================================
## 3. Objects and Types

The concept of objects (and by extension Object Oriented Programming) is something that can take a whole introductory course to explain, but for our purposes
we only need to know a few key things:

- In Python, *everything is an object (including functions!)*. Variables always reference some kind of object
- All objects have three properties that we are concerned with: *attributes, methods*, and *types*
- Attributes are things that describe an object, such as a name. These will vary depending on the object in question
- Methods are things that the object can do. For example, a `string` object has a `replace` method which allows you to replace text within that string
- Each object has a data type that defines how it can be interacted with. For instance, the number `1` is an integer object and can be used with other numeric types and operations

### Common Types in Python


### Single Elements

- **Integer:** Are whole number ranging from negative infinity to infinity, such as `-2`,`-1`,`0`,`1`, `2`, etc.
- **Float:** A number with a decimal, such as `1.23482` or `3.0`.
- **Boolean:** `True` or `False`.

### Containers

- **Strings:** A sequence of characters: `"Chris is very handsome"`
- **Lists:** An ordered sequence of objects: `[1, 'love', ['Chris']]`
- **Tuples:** Similar to a List but is immutable after it is created, `(1, 'love', ['Chris'])`
- **Dictionaries**: A collection of key-value pairs: `{'name': 'Chris Chan', 'gender': Male, 'organization': COOP_Careers}`

##### ==================================================================================================
Adding two `int` (integer numbers) would return a integer.

Example:

In [ ]:
ten = 5 + 5
print(ten)

##### ==================================================================================================
Adding two `float` (numbers with decimals) would return a float.

Example:

In [ ]:
also_ten = 5.0 + 5.0
print(also_ten)

##### ==================================================================================================
The `+` operation concatenates objects, including strings.

Adding two `str` (strings - sequence of characters)

Example:

In [ ]:
fifty_five = "5" + "5"
print(fifty_five)

##### ==================================================================================================
The built-in function in Python `len` counts and returns the number of elements in a object.

Applying `len` to a string.

Example:

In [ ]:
len("33333")

##### ==================================================================================================
## Strings

*String construction*

The `type()` function returns us the type of the object

Example:

In [ ]:
my_string = "I love COOP Careers"

##### ==================================================================================================
The `len()` function returns us the number of elements in the object

Example:

In [ ]:
len(my_string)

##### ==================================================================================================
*String replacement*

`.replace()` is a **method** -- a function that's built into all objects of a given type.

Functions (e.g. print, len, and type) and methods (e.g. str.replace) are effectively the same. However methods are defined within a particular class and is called on instances of that class using . followed by a method name.

Example:

In [ ]:
my_string = my_string.replace("COOP Careers", "Chris")
print(my_string)

In [ ]:
len(my_string)

In [ ]:
my_string

##### ==================================================================================================
## String Indexing

Python allows us to extract characters at specific index locations within a string. All index by default start with index 0.

Recall `my_string` is now defined as `I love Chris`

<img src="https://tinyurl.com/jakceks4" style="float: left; margin: 20px; height: 120px">

##### ==================================================================================================
*Select the first index character in* `my_string`

Example:

In [ ]:
my_string[0]

*Select the fifth index character in* `my_string`

In [ ]:
my_string[4]

##### ==================================================================================================
"Slicing: is a process by which you may pass a range of index values to select multiple elements in a string. In general, slicing in Python is inclusive on the left and exclusive on the right. In mathematics think of a interval from `[a,b)`. the general format for slicing a string is `x[start:end]` such that `x` represents the string

Example:

In [ ]:
my_string[0:9]

Example:

In [ ]:
my_string[3:10]

##### ==================================================================================================
You may also control the increments of your slices (default is 1) by adding on one extra component to the general format `x[start:end:step]`

*Slice every third character starting at 0 and ending at 12. Remember spaces count as a character*

Example:

In [ ]:
my_string[0:12:2]

##### ==================================================================================================
*Reversing string `my_string`*

Example:

In [ ]:
my_string[
    
          ::-1]

##### ==================================================================================================
*Select the last character in the string `my_string`*

Example:

In [ ]:
my_string[-4]

##### ==================================================================================================
### Lists

A `list` is a mutable sequence of objects in Python that may contain any combination of types

<b>WARNING:</b> Using `list` as a variable name will overwrite the built-in Python function. `list = [0,1,2,3,4,5]`. <b>Do not do this!</b>

##### ==================================================================================================
Creating a sample list

Example:

In [ ]:
my_list = ["apple","orange","grape","pineapple","cherry","lemon"]
print(my_list)

##### ==================================================================================================
Recall `list` are mutable so you may modify them as you like

Example:

In [ ]:
my_list[3] = "RED"
print(my_list)

##### ==================================================================================================
*Adding new item to the list via append*

Example:

In [ ]:
my_list.append("BLUE")
print(my_list)

##### ==================================================================================================
### Tuples

A `tuple` is a sequence of objects may contain any combination of types which is ordered and immutable.

Example:

In [ ]:
my_tuple = (0,1,2,3,4,5)
print(my_tuple)

##### ==================================================================================================
*Slice tuple from index 2 to 5*

Example:

In [ ]:
print(my_tuple[2:5])

##### ==================================================================================================
### Range

The `range` function  can be used to create a sequence of numbers. The order of arguments is start, stop, step, just like in slicing.
##### ==================================================================================================
*Creating a sequence of numbers from  0 to 10 `range` function*

Example:

In [ ]:
list(range(0, 10))

##### ==================================================================================================
*Creating a sequence of numbers from 1 to 10, incrementing by 2 using `range` function*

Example:

In [ ]:
list(range(0, 10, 2))

Example:

In [ ]:
list(range(0, 9, 2))

##### ==================================================================================================
### Dictionaries

A `Dictionary` is an ordered collection of key-value pairs, where the key indicates the location of some data and the value is the data that a key points to. They are mutable, but do not allow duplicate keys.
##### ==================================================================================================

*Creating a dictionary that maps the first name, last name and gender of the individual*

In [ ]:
my_dict = {"first_name": "Chris", "last_name": "Chan", "gender": "Male"}
print(my_dict["first_name"])
print(my_dict["last_name"])
print(my_dict["gender"])

##### ==================================================================================================
*Add an entry for "height" of the individual*

Example:

In [ ]:
my_dict["height_cm"] = 173
print(my_dict["first_name"])
print(my_dict["last_name"])
print(my_dict["gender"])
print(my_dict["height_cm"])

##### ==================================================================================================
### Summary
- Python has the following built-in types (among others):
    - Single-element:
        - `int` whole numbers
        - `float` decimal numbers
        - `bool` `True` or `False`
        
    - Container:
        - `str` for sequences of characters
        - `list` for holding arbitrary objects and is mutable
        - `tuple` for holding arbitrary objects but is immutable 
        - `dict` for storing arbitrary objects in key:value pairs
        
- Ordered container types such as `str`, `list`, and `tuple` allow you to select items by position.
- The built-in `range` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.
- Python has built-in functions such as `len` that take in object and returns the number of items in an object.
- Python types have built-in methods such as `str.replace`, replaces a specified phrase with another specified phrase.

##### ==================================================================================================
### Exercise 1:

Assign any `int` value to a variable we call `x`. Then use the `assignment operators` to reassign the value of `x` by carrying out the following steps:

1. Double the variable `x`
2. Add 6 to the variable `x`
3. Divide the variable `x` by 2
4. Subtract your initial value from `x`
5. Use the `assert` function in python to establish that x == 3 (An error will occur if an error is made)

In [ ]:
# Write your solution here

##### ==================================================================================================
### Exercise 2:

Create a string called `my_name` that contains the letters of your first name in all lower case letters

In [ ]:
# Write your solution here

Create another string called `my_intro` that that contains the sentence `"hello my job is "` in all lower case letters

In [ ]:
# Write your solution here

Reassign the string `my_intro` and use the `.replace` function to replace the word `"job"` with `"name"`

In [ ]:
# Write your solution here

Use the addition `+` operator to concate the string `my_intro` followed by `my_name`. Be sure to utilize proper spacing with `" "` when needed

In [ ]:
# Write your solution here

##### ==================================================================================================
### Exercise 3:

Create a string called `your_slice` that contains the letters `"thisiswhycoopisthebest"`. Then slice the string `your_slice` to obtain the letters `coop` as an output

In [ ]:
# Write your solution here

##### ==================================================================================================
### Exercise 4:

Create a list called `my_list` that contains the integers 1,2,3,4,5. Then append the string `six` to `my_list`

In [ ]:
# Write your solution here